<settings>
	<category label="30715">
		<setting type="lsep" label="Parental Controls" />
		<setting visible="true" label="Setup XXX Password" type="action" action="RunPlugin(plugin://$ID/?action=xxxpass)"/>
		<setting type="lsep" label="30718" />
		<setting label="30719" type="action" action="RunPlugin(plugin://plugin.video.streamhub/?action=clearCache)" />
	</category>
</settings>

